@import 'tailwindcss';
@import 'tw-animate-css';
@import 'tailwind-scrollbar-hide/v4';

@import 'nprogress/nprogress.css' layer(base);
@import './fonts.css' layer(base);
@import './custom.css' layer(base);

:root {
  /* Datum Colors */
  /* Custom Brand Colors */
  --color-navy: #0c1d31; /* #0c1d31 */
  --color-cream: #f6f6f5; /* #f6f6f5 */
  --color-light-gray: #e8e7e4; /* #e8e7e4 */
  --color-lime-green: #e6f59f; /* #e6f59f */
  --color-dark-navy-blue: #111e34; /* #111e34 */
  --color-light-pink: #ecd0d0; /* #ecd0d0 */
  --color-mauve: #91757b; /* #91757b */
  --color-navy-muted: #14233d; /* #14233d */
  --color-orange: #ff6b35; /* #ff6b35 */
  --color-tuscany: #c49d9d; /* #c49d9d */
  --color-indigo: #2d3948; /* #2d3948 */
  --color-pearl-gray: #efefed; /* #efefed */
  --color-green-dark: #4d6356; /* #4d6356 */
  --color-warm-white: #f5f5f3; /* #f5f5f3 */

  /* Sunglow colors */
  --sunglow: hsl(18 89% 68%); /* #F27A67 */
  --sunglow-50: hsl(0 14% 98%); /* #FAF7F7 */
  --sunglow-100: hsl(8 22% 96%); /* #F4EDEC */
  --sunglow-200: hsl(8 22% 94%); /* #F3E7E4 */
  --sunglow-300: hsl(10 67% 94%); /* #F8E0DB */
  --sunglow-400: hsl(11 70% 91%); /* #F8D4CD */
  --sunglow-500: hsl(8 89% 87%); /* #FBC8BF */
  --sunglow-600: hsl(10 89% 84%); /* #FABCB1 */
  --sunglow-700: hsl(10 78% 78%); /* #F4A89B */
  --sunglow-800: hsl(10 84% 72%); /* #F39282 */
  --sunglow-900: hsl(18 89% 68%); /* #F27A67 */
  --sunglow-foreground: hsl(240 10% 3.9%); /* #0A0A0A */

  /* Winter Sky colors */
  --winter-sky-900: hsl(184 18% 89%); /* #E1EBEA */
  --winter-sky-800: hsl(180 16% 94%); /* #EFF3F3 */
  --winter-sky-700: hsl(180 12% 96%); /* #F5F7F7 */
  --winter-sky-600: hsl(180 10% 97%); /* #F7FAFA */

  /* Butter Color */
  --butter-900: hsl(48 72% 84%); /* #F2E6BC */
  --butter-800: hsl(48 100% 93%); /* #FFF6D7 */
  --butter-foreground: hsl(240 10% 3.9%); /* #312847 */

  /* Base colors */
  --background: hsl(0 0% 100%); /* #FFFFFF */
  --foreground: hsl(240 10% 3.9%); /* #0A0A0A */

  /* Card colors */
  --card: hsl(0 0% 100%); /* #FFFFFF */
  --card-foreground: hsl(240 10% 3.9%); /* #0A0A0A */

  /* Popover colors */
  --popover: hsl(0 0% 100%); /* #FFFFFF */
  --popover-foreground: hsl(240 10% 3.9%); /* #0A0A0A */

  /* Primary colors */
  /* --primary: hsl(240 5.9% 10%); */
  /* --primary-foreground: hsl(0 0% 98%); */
  --primary: var(--color-navy);
  --primary-foreground: var(--color-cream);

  /* Secondary colors */
  /* --secondary: var(--winter-sky-700); */
  --secondary: var(--color-light-gray);
  /* --secondary-foreground: hsl(240 5.9% 10%); #191919 */
  --secondary-foreground: var(--color-navy);

  /* Muted colors */
  --muted: hsl(240 4.8% 95.9%); /* #F4F4F5 */
  --muted-foreground: hsl(240 3.8% 46.1%); /* #737373 */

  /* Accent colors */
  /* #F4F4F5 */
  /* --accent: hsl(240 4.8% 95.9%);  */
  --accent: var(--winter-sky-700);
  --accent-foreground: hsl(240 5.9% 10%); /* #191919 */

  /* Destructive colors */
  --destructive: hsl(0 84.2% 60.2%); /* #E11D48 */
  --destructive-foreground: hsl(0 0% 98%); /* #FAFAFA */

  /* UI elements */
  --border: hsl(240 5.9% 90%); /* #E5E5E5 */
  --input: hsl(240 5.9% 90%); /* #E5E5E5 */
  --ring: hsl(240 10% 3.9%); /* #0A0A0A */
  --radius: 0.5rem;

  /* Chart colors */
  --chart-1: hsl(12 76% 61%); /* #E67E22 */
  --chart-2: hsl(173 58% 39%); /* #2E8B57 */
  --chart-3: hsl(197 37% 24%); /* #2C3E50 */
  --chart-4: hsl(43 74% 66%); /* #F1C40F */
  --chart-5: hsl(27 87% 67%); /* #E67E22 */

  /* Sidebar colors */
  /* --sidebar-background: var(--winter-sky-600);
  --sidebar-foreground: hsl(240 5.3% 26.1%); #424242
  --sidebar-primary: hsl(240 5.9% 10%); #191919
  --sidebar-primary-foreground: var(--winter-sky-900);
  --sidebar-accent: var(--winter-sky-800);
  --sidebar-accent-foreground: hsl(240 5.9% 10%); #191919
  --sidebar-border: hsl(220 13% 91%); #E8E8E8
  --sidebar-ring: hsl(217.2 91.2% 59.8%); #3B82F6 */

  --sidebar-background: var(--color-warm-white);
  --sidebar-foreground: var(--color-navy); /* #424242 */
  --sidebar-primary: var(--color-navy); /* #191919 */
  --sidebar-primary-foreground: var(--winter-sky-900);
  --sidebar-accent: var(--color-light-gray);
  --sidebar-accent-foreground: var(--color-navy);
  --sidebar-border: var(--color-light-gray);
  --sidebar-ring: hsl(217.2 91.2% 59.8%); /* #3B82F6 */

  --success-100: hsl(143, 85%, 96%);
  --success-300: hsl(145, 92%, 87%);
  --success-500: hsl(140, 100%, 27%);

  --info-100: hsl(208, 100%, 97%);
  --info-300: hsl(221, 91%, 93%);
  --info-500: hsl(210, 92%, 45%);
}

.dark {
  /* Datum Colors */
  /* Sunglow colors */
  --sunglow: hsl(8 89% 87%); /* #FBC8BF */
  --sunglow-foreground: hsl(240 5.9% 10%); /* #191919 */

  /* Base colors */
  --background: hsl(240 10% 3.9%); /* #0A0A0A */
  --foreground: hsl(0 0% 98%); /* #FAFAFA */

  /* Card colors */
  --card: hsl(240 10% 3.9%); /* #0A0A0A */
  --card-foreground: hsl(0 0% 98%); /* #FAFAFA */

  /* Popover colors */
  --popover: hsl(240 10% 3.9%); /* #0A0A0A */
  --popover-foreground: hsl(0 0% 98%); /* #FAFAFA */

  /* Primary colors */
  --primary: hsl(0 0% 98%); /* #FAFAFA */
  --primary-foreground: hsl(240 5.9% 10%); /* #191919 */

  /* Secondary colors */
  --secondary: hsl(240 3.7% 15.9%); /* #262626 */
  --secondary-foreground: hsl(0 0% 98%); /* #FAFAFA */

  /* Muted colors */
  --muted: hsl(240 3.7% 15.9%); /* #262626 */
  --muted-foreground: hsl(240 5% 64.9%); /* #A3A3A3 */

  /* Accent colors */
  --accent: hsl(240 3.7% 15.9%); /* #262626 */
  --accent-foreground: hsl(0 0% 98%); /* #FAFAFA */

  /* Destructive colors */
  --destructive: hsl(0 72.2% 50.6%); /* #DC2626 */
  --destructive-foreground: hsl(0 0% 98%); /* #FAFAFA */

  /* UI elements */
  --border: hsl(240 3.7% 15.9%); /* #262626 */
  --input: hsl(240 3.7% 15.9%); /* #262626 */
  --ring: hsl(240 4.9% 83.9%); /* #D4D4D4 */

  /* Chart colors */
  --chart-1: hsl(220 70% 50%); /* #3B82F6 */
  --chart-2: hsl(160 60% 45%); /* #2E8B57 */
  --chart-3: hsl(30 80% 55%); /* #F39C12 */
  --chart-4: hsl(280 65% 60%); /* #9B59B6 */
  --chart-5: hsl(340 75% 55%); /* #E74C3C */

  /* Sidebar colors */
  --sidebar-background: hsl(240 5.9% 10%); /* #191919 */
  --sidebar-foreground: hsl(240 4.8% 95.9%); /* #F4F4F5 */
  --sidebar-primary: hsl(224.3 76.3% 48%); /* #3B82F6 */
  --sidebar-primary-foreground: hsl(0 0% 100%); /* #FFFFFF */
  --sidebar-accent: hsl(240 3.7% 15.9%); /* #262626 */
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%); /* #F4F4F5 */
  --sidebar-border: hsl(240 3.7% 15.9%); /* #262626 */
  --sidebar-ring: hsl(217.2 91.2% 59.8%); /* #3B82F6 */

  --success-100: hsl(150, 100%, 6%);
  --success-300: hsl(147, 100%, 12%);
  --success-500: hsl(150, 86%, 65%);

  --info-300: hsl(215, 100%, 6%);
  --info-500: hsl(223, 43%, 17%);
  --info-100: hsl(216, 87%, 65%);
}

@custom-variant dark (&:is(.dark *));

@theme {
  /* FT Regola Neue Font Family */
  /* --font-sans: FTRegolaNeue, system-ui, sans-serif; */
  /* Alliance No1 Font Family */
  --font-sans:
    'Alliance No1', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sunglow: var(--sunglow);
  --color-sunglow-50: var(--sunglow-50);
  --color-sunglow-100: var(--sunglow-100);
  --color-sunglow-200: var(--sunglow-200);
  --color-sunglow-300: var(--sunglow-300);
  --color-sunglow-400: var(--sunglow-400);
  --color-sunglow-500: var(--sunglow-500);
  --color-sunglow-600: var(--sunglow-600);
  --color-sunglow-700: var(--sunglow-700);
  --color-sunglow-800: var(--sunglow-800);
  --color-sunglow-900: var(--sunglow-900);
  --color-sunglow-foreground: var(--sunglow-foreground);

  /* Butter Colors */
  --color-butter: var(--butter-900);
  --color-butter-900: var(--butter-900);
  --color-butter-800: var(--butter-800);
  --color-butter-foreground: var(--butter-foreground);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-success: var(--success-500);
  --color-success-100: var(--success-100);
  --color-success-300: var(--success-300);
  --color-success-500: var(--success-500);

  --color-info: var(--info-500);
  --color-info-100: var(--info-100);
  --color-info-300: var(--info-300);
  --color-info-500: var(--info-500);

  /* Custom Brand Colors */
  --color-navy: var(--color-navy);
  --color-cream: var(--color-cream);
  --color-light-gray: var(--color-light-gray);
  --color-lime-green: var(--color-lime-green);
  --color-dark-navy-blue: var(--color-dark-navy-blue);
  --color-light-pink: var(--color-light-pink);
  --color-mauve: var(--color-mauve);
  --color-navy-muted: var(--color-navy-muted);
  --color-orange: var(--color-orange);
  --color-tuscany: var(--color-tuscany);
  --color-indigo: var(--color-indigo);
  --color-pearl-gray: var(--color-pearl-gray);
  --color-green-dark: var(--color-green-dark);
  --color-warm-white: var(--color-warm-white);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  html,
  body {
    @apply text-navy dark:text-cream bg-white font-sans antialiased dark:bg-gray-950;

    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-navy dark:text-cream bg-white dark:bg-gray-950;
  }

  /* https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor */
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@layer utilities {
  @keyframes ellipsis {
    0% {
      content: '.';
    }
    33% {
      content: '..';
    }
    66% {
      content: '...';
    }
    100% {
      content: '.';
    }
  }
}
