{
  "tabWidth": 2,
  "printWidth": 90,
  "semi": false,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "singleAttributePerLine": false,
  "arrowParens": "always",
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.ts"
}
