NODE_ENV=development
SESSION_SECRET=${openssl rand -base64 32}

APP_URL=http://localhost:3000
API_URL=https://api.staging.env.datum.net

# Registered auth providers
AUTH_GOOGLE_ID=fakeid
AUTH_GOOGLE_SECRET=fakesecret

AUTH_GITHUB_ID=fakeid
AUTH_GITHUB_SECRET=fakesecret

# Help Scout Beacon Integration
HELPSCOUT_BEACON_ID=abcd1234
HELPSCOUT_SECRET_KEY=your_secret_key_here
