name: Publish Portal

on:
  push:
    paths-ignore:
      - "docs/**"
      - "README.md"

  release:
    types: ["published"]

jobs:
  check-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

  publish-container-image:
    permissions:
      id-token: write
      contents: read
      packages: write
      attestations: write
    uses: datum-cloud/actions/.github/workflows/publish-docker.yaml@v1.8.1
    with:
      image-name: cloud-portal
    secrets: inherit

  publish-kustomize-bundles:
    # Add explicit dependency so that the kustomize bundles only get published
    # if the container image has been built successfully. This helps prevent
    # situations where the deployment manifests are picked up by flux but the
    # container is still being created.
    needs: [publish-container-image]
    permissions:
      id-token: write
      contents: read
      packages: write
    uses: datum-cloud/actions/.github/workflows/publish-kustomize-bundle.yaml@v1.8.1
    with:
      bundle-name: ghcr.io/datum-cloud/cloud-portal-kustomize
      bundle-path: config
      image-overlays: config/base
      image-name: ghcr.io/datum-cloud/cloud-portal
    secrets: inherit
